@model Proyecto3_GuillermoDuque_AndresArteag.Models.IdeaDeNegocio

<h2>Editar Idea de Negocio</h2>

@using (Html.BeginForm("Edit", "IdeaDeNegocio", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Codigo)
        @Html.TextBoxFor(model => model.Codigo)
        @Html.ValidationMessageFor(model => model.Codigo)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ValorInversion)
        @Html.TextBoxFor(model => model.ValorInversion, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ValorInversion)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IngresosPrimeros3Anios)
        @Html.TextBoxFor(model => model.IngresosPrimeros3Anios, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IngresosPrimeros3Anios)
    </div>

    <button type="submit" class="btn btn-primary">Guardar Cambios</button>

}








